:root{
    --color: red;
}


 body{
    background:url(../images/camera.jpg);
    background-size: cover;

 }
 
.logo {
    color: azure;
    height: 1vh;
    padding: 12px;
}
.nav-link{
    text-align: right;
    position: relative; 
    display: block;
}

h1{
    color: white;
    font-family: 'Anton', sans-serif;
    text-shadow: 0px 4px 1px #08f408;
    cursor: pointer;
    transition: transform   2s;

    
}
 .banner h1:hover{
    transform: scaleY(4.0);
    color: var(--color);
  }

.banner {
    text-align: center;
    padding: 165px 31px 38px;
}

p{
    color: white;
}
.burger {
 cursor: pointer;
 
}
a{
    text-decoration: none;
    color: red;
    font-family: 'Bebas Neue', cursive;
    padding: 15px;
    font-size: small;
}
.nav-link a:hover{
 border-bottom: 2px solid green;
 color: white;

}
.fas fa-bars{
    color: white;
    font-size: 32px;
    line-height: 80px;
}
 @media screen and (max-width: 600px){
  body{

   margin-bottom: auto;
   padding: auto;
   background: url(../images/13.jpg);
   background-size: cover;
   background-repeat: no-repeat;
  }
  h1 {
    color: #2e69a7;

  }
  input[type="chexbox"] {
    border-radius: 17px 2px;
    padding: 1px;
  }
  button {
    border-radius: 1px 14px;
  }
  .nav-link {
    display: none;
  }

.burger{
 cursor: pointer;
 font-size: 27px;
 
}
a {
    padding: 77px;

  }
  .banner a{
     padding: unset;
  }
 }

 
